openapi: 3.0.3
info:
  title: Eventify API Gateway
  version: 1.0.0
  description: >
    Spécification OpenAPI de l'API Gateway Eventify, exposant les principaux
    endpoints des microservices : authentification, utilisateurs, catalogue d'événements,
    réservation, paiement, notifications, fidélité, support, analytics.
servers:
  - url: https://api.eventify.com
    description: API Gateway principale

tags:
  - name: Auth
  - name: Users
  - name: Events
  - name: Venues
  - name: Bookings
  - name: Payments
  - name: Notifications
  - name: Loyalty
  - name: Support
  - name: Analytics

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        correlationId:
          type: string
      required:
        - errorCode
        - message

    UserAuthRegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        language:
          type: string
          example: fr
      required:
        - email
        - password

    UserAuthRegisterResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
      required:
        - userId
        - email

    UserAuthLoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - email
        - password

    UserAuthLoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
      required:
        - accessToken
        - expiresIn

    MeResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        roles:
          type: array
          items:
            type: string
        language:
          type: string

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        venueId:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        status:
          type: string
          enum: [DRAFT, PUBLISHED, CANCELLED]
        capacity:
          type: integer
        basePrice:
          type: number
          format: float
        tags:
          type: array
          items:
            type: string
      required:
        - id
        - title
        - venueId
        - date
        - status

    EventCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        venueId:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        capacity:
          type: integer
        basePrice:
          type: number
          format: float
        tags:
          type: array
          items:
            type: string
      required:
        - title
        - venueId
        - date
        - capacity
        - basePrice

    EventUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        status:
          type: string
          enum: [DRAFT, PUBLISHED, CANCELLED]
        capacity:
          type: integer
        basePrice:
          type: number
          format: float
        tags:
          type: array
          items:
            type: string

    EventListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer

    Venue:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        city:
          type: string
        country:
          type: string
        capacity:
          type: integer

    SeatingPlanResponse:
      type: object
      properties:
        roomId:
          type: string
          format: uuid
        layout:
          type: object
          additionalProperties: true

    BookingItem:
      type: object
      properties:
        seatId:
          type: string
        zone:
          type: string

    BookingCreateRequest:
      type: object
      properties:
        eventId:
          type: string
          format: uuid
        seats:
          type: array
          items:
            $ref: '#/components/schemas/BookingItem'
      required:
        - eventId
        - seats

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        eventId:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, CONFIRMED, CANCELLED]
        holdExpiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/BookingItem'

    BookingCreateResponse:
      type: object
      properties:
        bookingId:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, CONFIRMED, CANCELLED]
        holdExpiresAt:
          type: string
          format: date-time
      required:
        - bookingId
        - status

    PaymentCreateRequest:
      type: object
      properties:
        bookingId:
          type: string
          format: uuid
        paymentMethod:
          type: string
          enum: [card]
        cardToken:
          type: string
      required:
        - bookingId
        - paymentMethod
        - cardToken

    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        bookingId:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: [PENDING, PROCESSING, SUCCEEDED, FAILED]
        createdAt:
          type: string
          format: date-time

    PaymentCreateResponse:
      type: object
      properties:
        paymentId:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, PROCESSING, SUCCEEDED, FAILED]
      required:
        - paymentId
        - status

    NotificationCreateRequest:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        type:
          type: string
        channel:
          type: string
          enum: [EMAIL, SMS, PUSH]
        payload:
          type: object
          additionalProperties: true
      required:
        - userId
        - type
        - channel

    LoyaltyBalanceResponse:
      type: object
      properties:
        points:
          type: integer
        tier:
          type: string

    LoyaltyRedeemRequest:
      type: object
      properties:
        points:
          type: integer
        bookingId:
          type: string
          format: uuid
      required:
        - points
        - bookingId

    SupportTicketCreateRequest:
      type: object
      properties:
        subject:
          type: string
        description:
          type: string
        bookingId:
          type: string
          format: uuid
      required:
        - subject
        - description

    SupportTicketResponse:
      type: object
      properties:
        ticketId:
          type: string
          format: uuid
        status:
          type: string
        createdAt:
          type: string
          format: date-time

    AnalyticsSummaryResponse:
      type: object
      properties:
        totalEvents:
          type: integer
        totalBookings:
          type: integer
        totalRevenue:
          type: number
          format: float
        topEvents:
          type: array
          items:
            type: object
            properties:
              eventId:
                type: string
                format: uuid
              title:
                type: string
              bookings:
                type: integer

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Créer un nouveau compte utilisateur
      description: Inscription d'un nouvel utilisateur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthRegisterRequest'
      responses:
        '201':
          description: Utilisateur créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthRegisterResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email déjà utilisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Authentifier un utilisateur
      description: Authentification et émission d'un JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthLoginRequest'
      responses:
        '200':
          description: Authentification réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthLoginResponse'
        '401':
          description: Identifiants invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /me:
    get:
      tags: [Users]
      summary: Récupérer le profil de l'utilisateur courant
      security:
        - bearerAuth: []
      x-roles:
        - USER
        - ORGANIZER
        - SUPPORT
        - ADMIN
      responses:
        '200':
          description: Profil utilisateur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Non authentifié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /events:
    get:
      tags: [Events]
      summary: Lister les événements
      description: Liste paginée des événements publiés.
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: dateFrom
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: tag
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Liste paginée des événements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'

    post:
      tags: [Events]
      summary: Créer un nouvel événement
      description: Création d'un événement par un organisateur ou un administrateur.
      security:
        - bearerAuth: []
      x-roles:
        - ORGANIZER
        - ADMIN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateRequest'
      responses:
        '201':
          description: Événement créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /events/{id}:
    get:
      tags: [Events]
      summary: Récupérer un événement par ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détail de l'événement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags: [Events]
      summary: Mettre à jour partiellement un événement
      description: Modification d'un événement par son organisateur propriétaire ou un admin.
      security:
        - bearerAuth: []
      x-roles:
        - ORGANIZER
        - ADMIN
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdateRequest'
      responses:
        '200':
          description: Événement mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '403':
          description: Accès interdit (événement ne correspondant pas à l'organisateur)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /venues:
    get:
      tags: [Venues]
      summary: Lister les lieux
      responses:
        '200':
          description: Liste des lieux
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Venue'

  /venues/{id}/seating-plan:
    get:
      tags: [Venues]
      summary: Récupérer le plan de salle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Plan de salle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeatingPlanResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings:
    post:
      tags: [Bookings]
      summary: Créer une réservation
      description: Crée une réservation avec un HOLD temporaire, pour l'utilisateur authentifié.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreateRequest'
      responses:
        '201':
          description: Réservation créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingCreateResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Événement ou sièges introuvables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflit de stock (survente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /bookings/{id}:
    get:
      tags: [Bookings]
      summary: Récupérer une réservation
      description: Récupère une réservation appartenant à l'utilisateur appelant.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détail de la réservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '403':
          description: Accès interdit (réservation d'un autre utilisateur)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [Bookings]
      summary: Annuler une réservation
      description: Annulation d'une réservation appartenant à l'utilisateur appelant.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Réservation annulée
        '400':
          description: Annulation non autorisée (statut incompatible)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Accès interdit (réservation d'un autre utilisateur)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payments:
    post:
      tags: [Payments]
      summary: Initier un paiement
      description: Initie le paiement d'une réservation de l'utilisateur.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
      responses:
        '201':
          description: Paiement créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCreateResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Réservation introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflit d'état de réservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payments/{id}:
    get:
      tags: [Payments]
      summary: Récupérer un paiement
      description: Récupère un paiement lié à une réservation de l'utilisateur appelant.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détail du paiement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '403':
          description: Accès interdit (paiement d'un autre utilisateur)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /notifications:
    post:
      tags: [Notifications]
      summary: Créer une notification
      description: Endpoint interne/exposé pour déclencher l'envoi d'une notification utilisateur.
      security:
        - bearerAuth: []
      x-roles:
        - ADMIN
        - SUPPORT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationCreateRequest'
      responses:
        '202':
          description: Notification acceptée pour traitement
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /loyalty/balance:
    get:
      tags: [Loyalty]
      summary: Consulter le solde de fidélité
      description: Retourne le solde de points de l'utilisateur authentifié.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      responses:
        '200':
          description: Solde de points
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyBalanceResponse'
        '404':
          description: Compte de fidélité introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /loyalty/redeem:
    post:
      tags: [Loyalty]
      summary: Utiliser des points de fidélité
      description: Utilisation de points pour une réservation de l'utilisateur.
      security:
        - bearerAuth: []
      x-roles:
        - USER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyRedeemRequest'
      responses:
        '200':
          description: Points utilisés avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyBalanceResponse'
        '400':
          description: Règles non respectées
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflit de concurrence sur le solde
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /support/tickets:
    post:
      tags: [Support]
      summary: Créer un ticket de support
      description: Création d'un ticket de support par un utilisateur ou un organisateur.
      security:
        - bearerAuth: []
      x-roles:
        - USER
        - ORGANIZER
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportTicketCreateRequest'
      responses:
        '201':
          description: Ticket créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicketResponse'
        '400':
          description: Données invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /support/tickets/{id}:
    get:
      tags: [Support]
      summary: Récupérer un ticket de support
      description: >
        Vue "client" d'un ticket de support appartenant à l'utilisateur ou à l'organisateur appelant.
      security:
        - bearerAuth: []
      x-roles:
        - USER
        - ORGANIZER
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détail du ticket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicketResponse'
        '403':
          description: Accès interdit (ticket ne correspondant pas au demandeur)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Non trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /analytics/summary:
    get:
      tags: [Analytics]
      summary: Récupérer un résumé analytique global ou par organisateur
      description: >
        Retourne un résumé analytique global (ADMIN) ou restreint aux événements de l'organisateur appelant (ORGANIZER).
      security:
        - bearerAuth: []
      x-roles:
        - ADMIN
        - ORGANIZER
      parameters:
        - name: scope
          in: query
          required: false
          schema:
            type: string
            enum: [global, organizer]
          description: >
            global pour la vue globale (ADMIN uniquement), organizer pour la vue restreinte à l'organisateur appelant.
      responses:
        '200':
          description: Résumé analytique
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummaryResponse'
        '403':
          description: Accès interdit (scope non autorisé pour le rôle)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
